name: Daily WhatsApp Poll

on:
  schedule:
    # This runs at 03:00 UTC (8:30 AM IST). 
    # Change '0 3 * * *' to your preferred UTC time.
    - cron: '0 3 * * *'
  workflow_dispatch: # Allows you to run it manually to test

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Run bot
        env:
          ID_INSTANCE: ${{ secrets.ID_INSTANCE }}
          API_TOKEN: ${{ secrets.API_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
        run: |
          ls -R  # This command lists all files so we can see where bot.py is
          python bot.py
